@import url(http://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,700);

.message{
  margin: 0px
}

body{
  font-family: 'Open Sans', sans-serif !important;
  color: #354F00 !important;
}

.font_style{
  font-family: 'Open Sans', sans-serif !important;
  color: #354F00 !important;
  a:link {
      color: #354F00 !important;
  }
  a:visited {
      color: #354F00 !important;
  }
  a:hover {
      color: #7D7D7D !important;
  }
  a:active {
      color: #7D7D7D !important;
  }
}

.li_style{
  font-size: 24px;
}

.full{
  width: 100%;
}

#user_nav{
  background-color: #7B9F35;
  height: 80px;
  color: white;
  font-size: 30px;
  margin: 0px;
  padding: 20px;

  a{ color: yellow; }
  #home_icon{
    color: #1A4C80;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    text-shadow: white;
  }
}

#profile_photo{
  height: 200px;
  width: 200px;
}

.left_column{ float: left; }

#columns{
  display: inline-block;
}

.list{
  float: right;
}

#notes_title{
  
}


.ing{
  padding: 5px;
  box-shadow: inset 0 0 10px black;
  display: inline-block;
}

.hop{
  background-color: #5B7130;
}

.malt{
  background-color: #B27940;
}

.tooltip {outline:none; }
.tooltip strong {line-height:30px;}
.tooltip:hover {text-decoration:none;} 
.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:240px; line-height:16px;
}
.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;
}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
.tooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}


