@import url(http://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,700);

body{
  background-color: #EEF8D9;
  font-family: 'Open Sans', sans-serif;
  color: #354F00;
  a: #354F00
}

#user_nav{
  background-color: #7B9F35;
  height: 80px;
  color: white;
  font-size: 30px;
  margin: 0px;
  padding: 20px;

  a{ color: yellow; }
  #home_icon{
    color: #1A4C80;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    text-shadow: white;
  }
}

#profile_photo{
  height: 200px;
  width: 200px;
}

.left_column{ float: left; }

#columns{
  display: inline-block;
}

.list{
  float: right;
}

#notes_title{
  
}
