#user_nav{
  background-color: green;
  height: 80px;
  color: white;
  font-size: 30px;
  margin: 0px;
  padding: 20px;

  a{ color: yellow; }
  #home_icon{
    color: blue;
    font-size: 50px;
  }

}

#profile_photo{
  height: 200px;
  width: 200px;
}

.left_column{ float: left; }

#columns{
  display: inline-block;
}

.list{
  float: right;
}

